*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Press start 2p";
}
body{
    min-height:100vh;
    background-image:url("bck.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}
.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2em;
    color:greenyellow;
    background-image:url("bck.5.png");
    border-radius:2em;
    padding:4em 3em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}
.title{
    font-size: 3.5em;
    font-family: "Pixelify sans";
}
hr{
    width: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 5px;
    border-radius: 1em;
    border:none;
}
.timer{
    font-size: 6em;
    font-weight: 700;
}
.button-wrapper{
    display:flex;
    gap:1em;
}
button{
    font-size:2em;
    font-weight:800;
    letter-spacing: 1px;
    padding:0.25em 0.25em;
    border:none;
    border-radius: 0.5em;
    cursor:pointer;
    transition: 0.2s ease-in-out;
    background-color: transparent;
    display: inline-block;
}
button:hover{
    transform:scale(1.1);
}
 #Start{
    background-image: url("Start.png");
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        width: 8em; 
        height: 80px;  
 }
 #Pause{
    background-image: url("Pause.png");
    background-size: cover; /* Cover the button */
    background-position: center;
    background-repeat: no-repeat;
    width: 8em;  /* Adjust as needed */
    height:80px;  /* Adjust as needed */
    background-color:transparent;
 }
 #Reset{
    background-image: url("reset2.png");
    background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        width: 8em; 
        height: 80px;
 }
